<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="DEFAULT_CARD_READER_NAME" value="Alcor Micro USB Smart Card Reader 0" />
    <add key="DEFAULT_LIMIT_TIMEOUT" value="15" />
  </appSettings>
 
</configuration>